
{% extends 'base.html' %}

{% block title %} Add Consignee {% endblock title %}

{% load static %}

{% block content %} 
    
        
            <h5 class="alert alert-danger text-center"> New Consinees </h5>
            
            <form method="POST">
                {% csrf_token %}  
                <div class="row g-2">
                 <div class="col-md-6">
                                 <label for="consid">Party Name:</label>
                                  <select id="consid" class="form-select " name='party_id' Required=true >
                                      <option></option>
                                        {% for party in partys %}
                                            <option value="{{ party.id }} "> {{ party.party }}</option>
                                        {% endfor %}
                                  </select>
                                  
                                </div>
                    {% for fm in form %}
                    <div class="col-md-6">
                    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} 
                    </div>
                    <br> 
                    {% endfor %}             
                     </br>
                 </div>
                    <input class="form-control btn-success mt-2" type="submit" value="submit">
                
            </form>
                      
         

 {% endblock content %}    
