{% extends 'base.html' %}

{% block title %} Add Orders {% endblock title %}

{% load static %}
{% block content %}
           <h6 class="alert alert-primary text-center "> New Order </h6>
            <form class="form" id="test_form" method="POST">
                {% csrf_token %}
                <div class="row g-0">      
                                <div class="form-floating p-1 col-md-6">
                                  <select id="consid" class="form-select " name='party_id' Required=true >
                                      <option></option>
                                        {% for party in partys %}
                                            <option value="{{ party.id }} "> {{ party.party }}</option>
                                        {% endfor %}
                                  </select>
                                  <label for="confind ">Party</label>
                                </div>

                                <div class= "form-floating p-1 col-md-6">
                                <select id="consign" class="form-select" name='consignee_id' Required=true >
                                  <option></option>
                                  </select>
                                  <label for="consigneeselect ">Consignee</label>
                                </div>
                </div>
                                
                <div class="row">
                    {% for fm in orderform %}
                    <div class="col-md-6">
                    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} 
                    </div>
                    <br> 
                    {% endfor %}             
                </div>
                </br>
                <input class="form-control btn-success" type="submit" name="submit_button">

                </form>

    
        {% endblock content %}