{% extends 'base.html' %}

{% block title %} Add Orders {% endblock title %}

{% load static %}
{% block content %}
{% if messages %}
<div class="alert alert-success alert-dismissible fade show mt-1" role="alert">
  {% for message in messages %}
  <!-- {% if message.tags %} class="{{message.tags}}" {% endif %} --> {{message}}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<h6 class="form-control badge alert-primary text-center">
  {% if sitem == 'None' %} New Order {% endif %}
  {% if sitem != 'None' %} Edit Order {% endif %}
</h6>
<form class="form" id="test_form" method="POST">
  {% csrf_token %}
  <div class="row g-1">
    {% if sitem == 'None' %}
    <div class="col-md-6">
    <label for="consid">Party</label>
    <div class="input-group">
      
     <a class="btn btn-outline-secondary btn-md" href="/addparty/order/">+</a>
      <select id="consid" class="form-select "  name='party_id' Required=true>
        <option></option>
        {% for party in partys %}
        <option value="{{ party.id }} "> {{ party.party }}</option>
        {% endfor %}
      </select>
     
     
     
    
    </div>
    </div>
    <div class="col-md-6">
      <label for="consign">Consignee</label>
      <div class="input-group">      
      <a class="btn btn-outline-secondary btn-md" href="/addconsignee/order/">+</a>
      <select id="consign" class="form-select" name='consignee_id' Required=true>
        <option ></option>          
      </select>
     
      </div>
    </div>
    {% endif %}
  </div>

  <div class="row g-2">
    <div class="col-md-4">
      <label for="item_name">Select Item:</label>
      <div class="input-group">
      <a class="btn btn-outline-secondary btn-md" href="/items/add/order/">+</a>
      <select class="form-select text-capitalize" name="item_id" id="item_name">
        {% for item in items %}
        {% if item.id == sitem %}
        <option value="{{item.id}}" selected>{{item}}</option>
        {% else %}
        <option value="{{item.id}}">{{item}}</option>
        {% endif %}
        {% endfor %}
      </select>
      
      </div>   
    </div>

    {% for fm in orderform %}
    <div class="col-sm-4 col-6">{{fm.label_tag}} {{fm}} {{fm.errors|striptags}} </div>
    {% endfor %}
  </div>
  
  <div class="row g-2 mt-3">
    <div class="col-8">
      <input class="form-control btn-sm btn-success" type="submit" value="Submit" name="submit_button">
    </div>
     <div class="col-4">
      <button class="form-control btn-dark btn-sm" type="button" onclick="history.back(-1)">Back</button>
    </div>
  </div>

</form>



{% endblock content %}