{% extends 'base.html' %}

{% block title %} Add Party {% endblock title %}

{% load static %}

{% block content %}
{% if messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {{message}}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<h5 class="form-control badge alert-danger text-center"> New Party </h5>
<form method="POST">
  {% csrf_token %}

  <div class="row g-2">
    {% for fm in clients %}
    <div class="col-md-4">
      {{fm.label_tag}} {{fm|capfirst}} {{fm.errors|striptags}}
    </div>
    {% endfor %}
    </br>
    <div class="col-md-8">
    <input class="form-control btn-success btn-sm mt-2" id="btnaction" type="submit" value="submit">
    </div>
      <div class="col-4">
      <button class="form-control btn-dark btn-sm mt-2" onclick="history.back(-1)">Back</button>
    </div>
  </div>

  
</form>
{% endblock content %}