{% extends 'base.html' %}

{% block title %} Add Consignee {% endblock title %}

{% load static %}

{% block content %}

<h6 class="alert alert-primary text-center mt-2"> Sent Order </h6>
<form class="form" id="test_form" method="POST">
    {% csrf_token %}
    <div class="row g-2">
        {% for fm in sentform %}
        <div class="col-md-6">
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
        </div>    
        {% endfor %}
        <div class="col-md-6">
        <input class="form-control btn-success mt-3" type="submit" value="Submit" name="submit_button">
        </div>
        <div class="col-md-6">
        <a class="form-control btn-primary mt-3 text-center text-decoration-none" href="/" >Home</a>
        </div>
    </div>
</form>

{% endblock content %}