{% extends 'base.html' %}

{% block title %} Sent Order {% endblock title %}

{% load static %}

{% block content %}

<h6 class="form-control badge alert-primary text-center"> Sent Order </h6>
<form class="form" id="test_form" method="POST">
    {% csrf_token %}
    <div class="row g-2">
        <div class="col-md-4">
         Date:{{sentform.date}}
        </div>
            <div class="col-md-4">
            Qty:{{sentform.qty}}
           </div>
           <div class="col-md-4">
            Status:{{sentform.status}}
           </div>
           
           <div id="scon" class="col-md-4">
            <label for="consid">Select Consignee:</label>
            <select id="select_Consignee" class="form-select" name="Con_id" >
            
              <option></option>
              {% for con in transferto %}
              {% if sentform.consignee_id.value == con.id %}
                <option value="{{con.id}}" selected>{{con.consignee}}</option>
                 {% else %}        
              <option value="{{ con.id }}"> {{ con.consignee }}</option>
              {% endif %}
              {% endfor %}
            </select>
           </div>
        
           <div class="col-md-4">
            By:{{sentform.by}}
           </div>
        
        <div class="col-md-6" id="newRow">
            
        </div> 
             
        <div class="col-8 mt-3">
        <input class="form-control btn-success btn-sm" type="submit" value="Submit" name="submit_button">
        </div>
        <div class="col-4 mt-3">
            <a class="form-control btn-sm btn-dark text-decoration-none text-center" href="{% url 'home' %}" >Home</a>
        </div>

    </div>
</form>

{% if messages %}{% for message in messages %}
<script type="text/javascript">
    alert('{{message}}');
</script>
<!-- {% if message.tags %} class="{{message.tags}}" {% endif %} -->

{% endfor %}{% endif %}

{% endblock content %}