<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Client</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'  %}">


</head>

<body>

<div class="container-fluid" >


    <div class="row justify-content-lg-center">
        
        <div class="col col-lg-4">
            <h6 class="alert alert-primary text-center "><strong> Sent Order </strong> </h6>
            <form class="form" id="test_form" method="POST">
                {% csrf_token %}
                
                {{sentform}}
              

                </br>
                <input class="btn btn-info" type="submit" vlaue="submit" name="submit_button">
               
            </form>
        </div>
       
    </div>

</div>
        
     

        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/jQuery.js' %}"></script>
        <script src="{% static 'js/ajex.js' %}"></script>

       



</body>

</html>