{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!--title-->
  <title>
    {% block title %}
    {% endblock title %}
  </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{% static 'js/jQuery.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/forsearch.css' %}" />
  <link rel="stylesheet" href="{% static 'css/loader.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />

  {% block head %} {% endblock head %}
</head>

<body class="bg-light" style="padding-top: 3.2rem;">
  <div class="row fixed-top me-1 ms-1" style="margin-top: 2px; height: 45px;" id="back">
    <div class="input-group p-0" >
      <button class="form-control bg-dark text-light border-0 text-start"  disabled>{% block bodyheader %} Wellcome {% endblock bodyheader %}
      </button>
      <button class="btn btn-secondary p-2" type="button" onclick="history.back(-1)">
        <-- GoBack </button>
    </div>


  </div>
  
  <div class="me-1 ms-1">
    <div id="loader"></div>
    {% block content %}
    <!-- this is block content -->
    {% endblock content %}
  </div>


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/ajex.js' %}"></script>
  <script src="{% static 'js/search.js' %}"></script>

</body>

</html>