{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!--title-->
  <title>
    {% block title %}
    {% endblock title %}
  </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
   <meta http-equiv="refresh" content="360">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

 
</head>

<body>
<div class="sticky-top me-1 ms-1 pt-1">
<nav class="navbar navbar-expand-sm navbar-dark rounded" style="background-color: #033e68;">
  <div class="container-fluid">
    <a class="navbar-brand active" aria-current="page" href="{% url 'home' %}">Home</a>
      
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navid">
         
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Party
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           
            <li><a class="dropdown-item" href="{% url 'addparty' 'addparty' %}">Add Party</a></li>

            <li>
              <a class="dropdown-item" href="{% url 'edit_party' 'edit' %}">Edit Party</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item text-danger" href="{% url 'edit_party' 'delete' %}">Delete Party</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" id="navconsignee" data-bs-toggle="dropdown"
            aria-expanded="false">
            Consignee
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'add_consignee' 'addcon' %}">Add Consignee</a></li>
            <li><a class="dropdown-item"  href="{% url 'edit_consignee' 'edit' %}">Edit Consignee</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-danger" id='navdeleteconsignee' href="{% url 'edit_consignee' 'delete' %}">Delete Consignee</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" id="navitems" data-bs-toggle="dropdown"
            aria-expanded="false">
            Items
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'items' 'add' 'additem' %}">Add Items</a></li>
            <li><a class="dropdown-item" href="{% url 'items' 'edit' 'edititem' %}">Edit items</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-danger" href="{% url 'items' 'delete' 'deleteitem' %}">Delete items</a></li>
          </ul>
        </li>
        
            <li><a class="nav-link" href="{% url 'addorder' 'add' %}">Add Orders</a></li>
            <li><a class="nav-link" href="{% url 'item_wise' 'item_wise' %}" diabled=true>Show Order</a></li>
         
      </ul>
      
      <div>
        
        <a class="btn btn-outline-danger text-decoration-none text-light me-2" href="{% url 'user_logout' %}">Logout</a>
      </div>
     
    </div>
     

  </div>
  
</nav>
</div>

  <div class="me-1 ms-1">
    {% block content %}
    <!-- this is block content -->
    {% endblock content %}
  </div>
  

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/jQuery.js' %}"></script>
  <script src="{% static 'js/ajex.js' %}"></script>


</body>

</html>