{% if atri == 'forhome' %}
<option value="All Consignee" selected>All Consignee</option>
{% for con in consi %}
<option value="{{ con.id }} "> {{con.consignee}}</option>
{% endfor %}
{% endif %}

{% if atri == 'fororder' %}
{% for con in consi %}
<option value="{{ con.id }} "> {{con.consignee}}</option>
{% endfor %}
{% endif %}

{% if atri == "foreditcon"  %}
 <option value="" disabled selected hidden>Choose Consignee...</option>
{% for con in consi %}
<option value="{{ con.id }} "> {{con.consignee}}</option>
{% endfor %}
{% endif %}

{% if atri == "fordeletecon"  %}
 <option value="" disabled selected hidden>Choose Consignee...</option>
{% for con in consi %}
<option value="{{ con.id }} "> {{con.consignee}}</option>
{% endfor %}
{% endif %}

{% if atri == "forhomeSent"  %} 
{% for con in consi %}
<option value="{{ con.id }} "> {{con.consignee}}</option>
{% endfor %}
{% endif %}
