{% extends 'base.html' %}

{% block title %}edit party{% endblock title %}

{% load static %}

{% block content %}



{% if messages %}
{% for message in messages %}
<!-- {% if message.tags %} class="{{message.tags}}" {% endif %} -->
<div {% if message.tags == 'success' %} class="alert alert-success alert-dismissible fade show mt-1" {% endif %} 
     {% if message.tags == 'warning' %} class="alert alert-danger alert-dismissible fade show mt-1" {% endif %} role="alert">
      <strog>{{message}}</strog>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<h5 class="form-control badge alert-danger text-center">Edit Party</h5>
<form method="POST">
  {% csrf_token %}

  <div class="row g-1 mb-1">    
    <div class="col-12">
    <label for="confind">Select Party</label>
      <select id="partylist" class="select2" name='party_id' required>
        <option></option>
        {% for party in partys %}
        <option value="{{ party.id }} "> {{ party.party }}</option>
        {% endfor %}
      </select>
      <div>
    
</div>

    <div class="row g-1 mb-1" id="form_data">

    </div>

  
</form>

{% endblock content%}