{% extends 'base.html' %}

{% block title %} Add Consignee {% endblock title %}

{% load static %}

{% block content %}  
<div class="row">       
        <div class="col-sm-12 g-2">
            <h6 class="alert alert-primary text-center "> Edit Consinees </h6>
            
            <form class="form" action="" method="POST">
                {% csrf_token %}                
                {{editform.as_p}}
                                </br>
                  
                 <div lass="d-grid gap-2 d-md-flex justify-content-md-end me-3">
                    <input class="btn btn-info" type="submit">
                 </div>
            </form>

           
        </div>
       
    </div>

{% endblock content %}
        
     

        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/jQuery.js' %}"></script>
        <script src="{% static 'js/ajex.js' %}"></script>

       



</body>

</html>