{% extends 'base.html' %}

{% block title %}party{% endblock title %}

{% load static %}

{% block content %}



{% if messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {{message}}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}



<form method="POST">
  {% csrf_token %}

  <div class="row g-2">
    <h5 class="alert alert-danger text-center">Edit Party</h5>
    <div class="form-floating">
      <select id="partylist" class="form-select" name='party_id' required>
        <option></option>
        {% for party in partys %}
        <option value="{{ party.id }} "> {{ party.party }}</option>
        {% endfor %}
      </select>
      <label for="confind ">Select Party</label>
    </div>

    <div class="row g-2" id="form_data">

    </div>


  </div>
</form>

{% endblock content%}