{% extends 'base.html' %}

{% block title %} Edit Consignee {% endblock title %}

{% load static %}

{% block content %}

{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {% for message in messages %}
  <!-- {% if message.tags %} class="{{message.tags}}" {% endif %} --> {{message}}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<form method="POST">
      {% csrf_token %}
      <div class="row g-2">
            <h5 class="alert alert-danger text-center">Edit Consignee</h5>
            <div class="form-floating ps-1 pt-1 p-1 col-md-12">
                  <select id="partylist" class="form-select " name='party_id' required>
                        <option value="selectparty"> Select Party</option>
                        {% for party in partys %}
                        <option value="{{ party.id }} "> {{ party.party }}</option>
                        {% endfor %}
                  </select>
                  <label for="confind ">Select Party</label>
            </div>
            <div class="form-floating ps-1 pt-1 p-1 col-md-12">

                  <select id="consigneelist" class="form-select" name='consigneeid' required>
                        <option></option>
                  </select>
                  <label for="consigneeselect ">Consignee</label>

            </div>

            <div class="row g-2" id="form_data">

            </div>
</form>

</div>{% endblock content %}