
        {% for orders in order %}
        <tr class="text-center fw-bold" {% if orders.ordered_cartons == orders.sent_cancel %} 
        style="background-color:#e0fbea;" {% else %} style="background-color: #FFFFFF;" {% endif %}>
               <td>
                        {{ orders.orderdate}}
                </td>
                <td>
                        {{ orders.item_name }}
                </td>
                <td>
                        {{ orders.ordered_cartons }}
                </td>              
                <td>
                        {{ orders.sent_cancel }}
                </td>
                <td>
                        {{orders.balance}}
                </td>
                
                <td>
                                 <!-- Button trigger modal -->
                        <form class="d-inline">
                                         <input type="button" {% if orders.sent_cancel == 0 %} disabled=true {% endif %} 
                                         class="btn btn-success btn-sm" data-bs-toggle="modal" 
                                                data-bs-target="#sent_datails" id="sentdetailbtn" 
                                                atb={{ orders.id }}  value="Details">
                        </form>                    
                      
                       <form action="{% url 'addsent' orders.id %}" method="GET" class="d-inline" >
                                     
                                        <input class="btn btn-primary btn-sm mt-1 " type="submit"
                                        {% if orders.ordered_cartons == orders.sent_cancel %} disabled=true  {% endif %} 
                                        value="Send">
                         </form>
                        
                </td>
        </tr>
        {% endfor %}
