{% for orders in order %}
<tr class="text-center" {% if orders.ordered_cartons == orders.sent_cancel %} style="background-color:#e0fbea;" {% else %}
        style="background-color: #FFFFFF;" {% endif %}>
        <td>
                {{ orders.orderdate}}
        </td>
        <td>
                {% for it in item %}
                {% if it.id == orders.item_id  %}
                {{ it.item_name }}
                {% endif %}
                {% endfor %}
        </td>
        <td>
                {{ orders.qty }} / {{orders.unit}}
        </td>
        <td>
                {{ orders.sent_cancel }} / {{orders.unit}}
        </td>
        <td>
                {{orders.balance}} / {{orders.unit}}
        </td>
</tr>
<tr>
        <td colspan="1">
                <div class="row g-1">
                        <div class="col-12 text-center Bold">
                                <h class="badge  bg-success rounded-pill">Price {{orders.item_price}}</h>
                        </div>
                </div>
        </td>
        <td colspan="4">
                <div class="row g-1">
                        <div class="col-3 g-1">
                                <form method="GET" action="{% url 'addorder' 'edit' %}" id='eoform'>
                                        <select name="oid" style="display: none;" ><option value="{{ orders.id }}"></option></select>
                                        <input class="form-control btn-outline-success rounded-pill btn-sm" id='eoid'
                                        oid={{ orders.id }}  type="submit" {% if orders.sent_cancel > 0 %} disabled=true {% endif %}
                                        value="Edit">
                                </form>

                        </div>
                        <div class="col-3 g-1">
                                <form action="" method="GET">
                                        <input class="form-control btn-outline-danger rounded-pill btn-sm "
                                                type="submit" value="Delete">
                                </form>
                        </div>
               
        
                        <div class="col-3 g-1">
                                <form>
                                        <input type="button" {% if orders.sent_cancel == 0 %} disabled=true {% endif %}
                                                class="form-control btn-outline-success rounded-pill btn-sm"
                                                data-bs-toggle="modal" data-bs-target="#sent_datails" id="sentdetailbtn"
                                                atb={{ orders.id }} value="Details">
                                </form>

                        </div>
                        <div class="col-3 g-1">
                                <form action="{% url 'addsent' 'add' %}" method="GET">                                        
                                        <input type="hidden" name="oid" value={{ orders.id }}>
                                        <input type="hidden" name="item_id" value={{ orders.item_id }}>
                                        <input type="hidden" name="unit" value={{ orders.unit }}>
                                        <input type="hidden" name="item_price" value={{ orders.item_price }}>                                        
                                        <input class="form-control btn-outline-primary rounded-pill btn-sm"
                                        type="submit" {% if orders.qty == orders.sent_cancel %} disabled=true {% endif %} value="Send">
                                </form>
                        </div>
                </div>
        </td>
</tr>
{% endfor %}