
        {% for orders in order %}
        <tr class="text-center" {% if orders.ordered_cartons == orders.sent_cancel %} 
        style="background-color:#e0fbea;" {% else %} style="background-color: #FFFFFF;" {% endif %}>
               <td>
                        {{ orders.orderdate}}
                </td>
                <td>
                        {{ orders.item_name }}
                </td>
                <td>
                        {{ orders.ordered_cartons }}
                </td>              
                <td>
                        {{ orders.sent_cancel }}
                </td>
                <td>
                        {{orders.balance}}
                </td>
                
                
        </tr>
        <tr>
         <td colspan="3"></td>

                <td colspan="2">
                        <div class="row g-1">
                                <div class="col-6 g-1">               
                                        <form >
                                         <input type="button" {% if orders.sent_cancel == 0 %} disabled=true {% endif %} 
                                         class="form-control btn-outline-success rounded-pill btn-sm" data-bs-toggle="modal" 
                                            data-bs-target="#sent_datails" id="sentdetailbtn" 
                                                atb={{ orders.id }}  value="Details">
                                        </form>    
                 
                                 </div>
                                <div class="col-6 g-1">
                                      <form action="{% url 'addsent' orders.id %}" method="GET" >
                                     
                                        <input class="form-control btn-outline-primary rounded-pill btn-sm" type="submit"
                                        {% if orders.ordered_cartons == orders.sent_cancel %} disabled=true  {% endif %} 
                                        value="Send">
                                      </form> 
                                 </div>
                         </div>
                 </td>
                 
                    
                </tr>
        {% endfor %}
