    
      
    {% if atri == 'party_editform' %}
     {% for fm in form %}
      <div class="col-md-4">
       {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}  
       </div>                          
     {% endfor %}
     <br>
     <input class="form-control btn-success mt-2" id="btnaction" type="submit" value="Update"> 
    {% endif %}

    {% if atri == 'party_deleteform' %}
     {% for fm in form %}
      <div class="col-md-4">
       {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}  
       </div>                                     
     {% endfor %}
     <br>
     <input class="form-control btn-danger mt-2" id="btnaction" type="submit" value="Delete"> 
    {% endif %}
   
   {% if atri == 'consignee_editform' %}
     {% for fm in form %} 
      <div class="col-md-6">
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} 
       </div>                                
     {% endfor %}
     <br>
     
     <div class="col-md-12 mt-3">
     <input class="form-control btn-success" id="btnaction" type="submit" value="Update">
     </div>
     
   {% endif %}  
  
   {% if atri == 'consignee_deleteform' %}
     {% for fm in form %}
      <div class="col-md-4">
       {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}  
       </div>                                     
     {% endfor %}
     <br>
     <div class="col-md-12">
     <input class="form-control btn-danger mt-2" id="btnaction" type="submit" value="Delete"> 
     </div>
   {% endif %}

   {% if atri == 'item_editform' %}
     {% for fm in form %}
      <div class="col-md-12">
       {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}  
       </div>                                     
     {% endfor %}
     <br>
     <input class="form-control btn-success mt-2"  type="submit" value="Submit"> 
   {% endif %}

   {% if atri == 'item_deleteform' %}
     
     <br>
     <input class="form-control btn-danger mt-2" id="itemdel" type="button" value="Delete"> 
   {% endif %}

   {% if atri == 'item_addform' %}
     {% for fm in form %}
      <div class="col-md-12">
       {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}  
       </div>                                     
     {% endfor %}
     <br>
     <input class="form-control btn-success mt-2"  type="submit" value="Submit"> 
   {% endif %}