{% extends 'base.html' %}

{% block title %} home {% endblock title %}

{% load static %}

{% if messages %}{% for message in messages %}
<!-- {% if message.tags %} class="{{message.tags}}" {% endif %} -->
<div {% if message.tags == 'success' %} class="alert alert-success alert-dismissible fade show mt-1" {% endif %} 
     {% if message.tags == 'warning' %} class="alert alert-danger alert-dismissible fade show mt-1" {% endif %} 
     role="alert">
  <strog>{{message}}</strog>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}{% endif %}

{% block content %}
{% if user.is_authenticated %}

<script>document.getElementById("back").style.display = "block";</script>
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
        <div class="nav-item m-1">
          <a class="form-control badge bg-primary text-decoration-none me-2"
          href="{% url 'addorder' 'add' %}">Add Orders</a>
        </div>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item dropdown m-1">
         <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Party
          </a> -->
         
          <button type="button" class="badge bg-secondary form-control  dropdown-toggle" id="partydropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="60,60">
            Party
          </button>
         
          <ul class="dropdown-menu" aria-labelledby="partydropdown">

            <li><a class="dropdown-item" href="{% url 'addparty' 'addparty' %}">Add Party</a></li>

            <li>
              <a class="dropdown-item" href="{% url 'edit_party' 'edit' %}">Edit Party</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item text-danger" href="{% url 'edit_party' 'delete' %}">Delete Party</a>
            </li>           
          </ul>
        </li>
        <li class="nav-item dropdown m-1">
         <!-- <a class="nav-link dropdown-toggle" role="button" id="navconsignee" data-bs-toggle="dropdown"
            aria-expanded="false">
            Consignee
          </a> -->
          <button class="badge bg-secondary form-control dropdown-toggle" type="button" id="consigneedropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Consignee
          </button>
          <ul class="dropdown-menu" aria-labelledby="consigneedropdown" >
            <li><a class="dropdown-item" href="{% url 'add_consignee' 'addcon' %}">Add Consignee</a></li>
            <li><a class="dropdown-item" href="{% url 'edit_consignee' 'edit' %}">Edit Consignee</a></li>
            <li><a class="dropdown-item" href="{% url 'consigneedetails' %}">Show Consignee Details</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-danger" id='navdeleteconsignee'
                href="{% url 'edit_consignee' 'delete' %}">Delete Consignee</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown m-1">
         <!--<a class="nav-link dropdown-toggle" role="button" id="navitems" data-bs-toggle="dropdown"
            aria-expanded="false">
            Items
          </a> -->
          <button class="badge bg-secondary form-control dropdown-toggle" type="button" id="itemsdropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Items
          </button>
          <ul class="dropdown-menu" aria-labelledby="itemsdropdown">
            <li><a class="dropdown-item" href="{% url 'items' 'add' %}">Add Items</a></li>
            <li><a class="dropdown-item" href="{% url 'items' 'edit' %}">Edit items</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-danger" href="{% url 'items' 'delete' %}">Delete items</a></li>
          </ul>
        </li>

        
        <li class="nav-item m-1"><a class="badge bg-secondary text-decoration-none form-control" href="{% url 'item_wise' 'item_wise' %}" diabled=true>Show Order</a></li>
        
       
      </ul>      
      <div class="d-flex">
        <a class="form-control badge bg-danger text-decoration-none"
              href="{% url 'user_logout' %}">Logout</a>
              
        </div>
    </div>
  </div>
</nav>

<form>
  <div class="row g-2 p-1">

    <div class="col-md-6">
      <div class="row g-1">
      <h6 class="col-3 text-end p-2">Party</h6>
     <div class="col-9">
      <select id="consid" class="select2" name='id'>
        <option value="selectparty" selected> Select Party</option>
        {% for party in partys %}
        <option value="{{ party.id }} "> {{ party.party }}</option>
        {% endfor %}
      </select> 
      </div>
      </div>
    </div>
    <div class="col-md-6" id="index_consignee">
      <div class="row g-1">        
        <h6 class="col-3 text-end p-2">Consignee</h6>
      <div class="col-9">
      <select id="consign" class="select2 col-11" name='id'>
        <option value="Select Consignee" selected> All Consignee</option>
      </select>
      </div>
      </div>
    </div>

  </div>
</form>

    <div class="col-12 text-end form-switch">
      <input class="form-check-input" type="checkbox" id="showcompleted">
      <label class="form-check-label me-1" for="showcompleted">Show Completed</label>
    </div>
    
  <div class="table-responsive mt-1" id="ordernotcompleted">
    <table class="table table-sm" id="ordertableid">
      <thead class="table-secondary">
        <tr class="text-center">
          <th scope="col">Date </th>
          <th scope="col">Item</th>
          <th scope="col">Order</th>
          <th scope="col">Sent</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody id="orders" style="font-size: small;font-weight: bold;"></tbody>
    </table>
  </div>


{% else %}
<script>document.getElementById("back").style.display = "none";</script>
<div style="text-align: center; margin-top:20px auto;">
  <h4
    style="padding: 10px; background-color: rgb(74, 84, 117);color: white;  margin: auto; width: 85%; border-top-left-radius: 10px; border-top-right-radius: 10px;">
    PLEASE SIGN IN</h4>

</div>
<form method="POST" style=" padding: 20px;  
margin: auto; width:85%; border: solid rgb(0, 0, 0) 1px; 
border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
  {% if form.non_field_errors %}
  {% for error in form.non_field_errors%}
  <p style="text-align: center;"> {{error}} </p>
  {% endfor%}
  {% endif %}
  {% csrf_token %}
  <label for="uname"><b>{{form.username.label_tag}}</b>{{form.username.errors|striptags}}</label>
  {{form.username}}
  <br>
  <label for="password"><b>{{form.password.label_tag}}</b>{{form.password.errors|striptags}}</label>
  {{form.password}}


  <div class="text-end">
    <button type="submit" class="btn btn-primary mt-4">Sign in</button>
  </div>

</form>
<div id="footer" style=" clear: both;
  position:fixed;    
  left: .5%;
  margin-bottom: 4px;
  
  bottom: 0;
  width: 99%;
  background: rgb(202, 202, 202);
  text-align: center;
  border-radius: 6px;
  z-index: -1;"> <p>Copyright
    1993-2021 All Right Reserved ||
    Spangle And Si Logo are registered Trademark of Shilpa Industries</p>
  </div>
{% endif %}
<!-- Modal Show Sent Details-->
<div class="modal fade" id="sent_datails" tabindex="-1" data-bs-keyboard="false" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Orders Sent Details</h5>
        <button type="button" class="btn-close" id="sentclose" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <table class="table" id="sentdetailtable">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">Date </th>
                <th scope="col">Order</th>
                <th scope="col">Status</th>
                <th scope="col">By</th>
              </tr>
            </thead>
            <tbody id="sentdetaildata" style="font-size: small;">
            </tbody>
          </table>
        </form>
      </div>
    </div>

  </div>

</div>
<div class="modal fade" id="sentOrder" tabindex="-1" data-bs-keyboard="false" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sent Order</h5>
        <button type="button" class="btn-close" id="sentclose" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <div class="row g-2">
          <div class="col-sm-6">
            Date:{{sf.date}}
          </div>
          <div class="col-sm-6">
            Qty:{{sf.qty}}
          </div>
          <div class="col-sm-6">
            Status:{{sf.status}}
          </div>

          <div id="scon" class="col-sm-6">
            <label for="transid">Select Consignee:</label>
            <select id="transid" class="form-select" name="transid">

            </select>
          </div>

          <div class="col-sm-6">
            By:{{sf.by}}
          </div>
          <!-- <div id="docket_number" class="col-sm-6 col-6">
            docket no:{{sentform.docket_number}}
           </div> -->

          <div class="col-sm-6" id="newRow">

          </div>

          <div class="col-sm-12 mt-3">

            <input id="submitSent" class="form-control btn-success" type="button" value="Save">

            {% if action == 'edit' %}
            <input class="form-control btn-primary" type="submit" value="Update" name="Update">
            {% endif %}
            {% if action == 'delete' %}
            <input class="form-control btn-danger" type="submit" value="Delete" name="delete">
            {% endif %}
          </div>

        </div>


      </div>
    </div>

  </div>

</div>


{% if messages %}{% for message in messages %}
<script type="text/javascript">
  alert('{{ message }}');
</script>

{% endfor %}{% endif %}
{% endblock content %}