{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% load static %}

{% block homepage %}


{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {% for message in messages %}
  <!-- {% if message.tags %} class="{{message.tags}}" {% endif %} --> {{message}}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}



<nav class="navbar navbar-expand-sm navbar-light alert-primary rounded m-2">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="navbar-brand">
      {{username.first_name}} <span>
        <a class="text-decoration-none text-danger ms-1" href="{% url 'user_logout' %}">Logout</a>
      </span>
    </div>
   
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <ul class="navbar-nav" id="navid">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Party
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'addparty'  %}">Add Party</a></li>

            <li>
              <a class="dropdown-item" href="{% url 'edit_party' 'edit' %}">Edit Party</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item text-danger" href="{% url 'edit_party' 'delete' %}">Delete Party</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" id="navconsignee" data-bs-toggle="dropdown"
            aria-expanded="false">
            Consignee
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'add_consignee' %}">Add Consignee</a></li>
            <li><a class="dropdown-item" href="{% url 'edit_consignee' 'edit' %}">Edit Consignee</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-danger" href="{% url 'edit_consignee' 'delete' %}">Delete Consignee</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" id="navitems" data-bs-toggle="dropdown"
            aria-expanded="false">
            Items
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'items' 'add' %}">Add Items</a></li>
            <li><a class="dropdown-item" href="{% url 'items' 'edit' %}">Edit items</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-danger" href="{% url 'items' 'delete' %}">Delete items</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" id="navitems" data-bs-toggle="dropdown"
            aria-expanded="false">
            Orders
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'addorder' 'add' 0 %}">Add Orders</a></li>
            <li><a class="dropdown-item" href="#" diabled=true>Show Items Order</a></li>
            
          </ul>
        </li>
      
      </ul>
    </div>

  </div>
  
</nav>
{% endblock homepage %}
{% block content %}
<form>
<div class="row g-1 mb-2">
  <div class="form-floating col-md-6">
    <select id="consid" class="form-select " name='id'>
      <option value="selectparty" selected> Select Party</option>
      {% for party in partys %}
      <option value="{{ party.id }} "> {{ party.party }}</option>
      {% endfor %}
    </select>
    <label for="confind ">Party</label>
  </div>
  <div class="form-floating col-md-6">
    <select id="consign" class="form-select" name='id'>
      <option value="Select Consignee" selected> Select Consignee</option>
    </select>
    <label for="consigneeselect ">Consignee</label>
  </div>
  
</div>
</form>
<div class="row g-0">
  <div class="col-md-12">   
          
    <table class="table table-success table-sm table-striped" id="ordertableid">
      <thead>
        <tr class="text-center">
          <th scope="col">Date </th>
          <th scope="col">Item</th>
          <th scope="col">Unit</th>
          <th scope="col">Status</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody id="orders"></tbody>
    </table>
  </div>
</div>


<!-- Modal Show Sent Details-->
<div class="modal fade" id="sent_datails" tabindex="-1" data-bs-keyboard="false" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Orders Sent Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <table class="table" id="sentdetailtable">
            <thead class="thead-dark">
              <tr class="text-center fs-5">
                <th scope="col">Date </th>
                <th scope="col">Units</th>
                <th scope="col">Status</th>
                <th scope="col">By</th>
              </tr>
            </thead>
            <tbody id="sentdetaildata">
            </tbody>
          </table>
        </form>
      </div>
    </div>

  </div>

</div>


{% endblock content %}