{% extends 'base.html' %}


{% load static %}

{% block title %}items {% endblock title %}
 {% block bodyheader %}Items{% endblock bodyheader %} 
{% block content %}
	

{% if messages %}
{% for message in messages %} {% if message.tags %} {% endif %} 
<div {% if message.tags == 'success' %} class="alert alert-success alert-dismissible fade show mt-2" {% endif %} 
     {% if message.tags == 'warning' %} class="alert alert-danger alert-dismissible fade show mt-2" {% endif %} >
     
      <strog>{{message}}</strog>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% endif %}

<div class="col-sm-12 col-md-10 col-lg-6 mx-auto">
<form class="form" method="POST">
    {% csrf_token %}
    <div class="row g-1">
        {% if action == 'edit' or action == 'delete' %}
        
        <div class="col-9" >
         <!-- <div class="dropdowndiv" >
            
            <input onclick="myFunction()" 
            type="text" readonly value2send=""placeholder="Search Item ..."
             name="selectedItem" id="showinput"              
             style="width: 100%;font-weight:bold;
             border-radius: 6px;padding: 6px; text-align: center; 
             background-color: rgb(241, 241, 241);">
            
             <i class="downaero" style="top: 6px; position: absolute; margin-left: -30px;"> &#9660;</i>
           
             <div id="myDropdown" class="dropdown-content">

              <input type="text" list="items" oninput="onInput()" id="input" class="searchtext" />
              
              <datalist id="items">
                    {% for item in items %}
              <option data-value="{{item.id}}" value="{{item.item_name}}"></option>
                {% endfor %}              
              </datalist>
            </div>
           
          </div> -->
          <select id="select2" name="selectedItem" class="select2">   
            {% for item in items %}
            <option value="{{item.id}}"> {{item.item_name}}</option>
            {% endfor %}
          </select>    
        </div>
        <div class="col-3" >
          {% if action == 'delete' %}
          <button class="form-control btn btn-danger" id="editbtn" type="button">Delete</button>
          {% endif %}
          {% if action == 'edit' %}
          <button class="form-control btn btn-primary" id="editbtn" type="button">Edit</button>
          {% endif %}
        </div>
       </div>
        {% endif %}
       
        <div class="col-md-12 mt-2" id='form_data'>
            
        </div>
       
    </div>  
</form>

  
{% endblock content %} 
