<!--{% for item in items %}
{% if item.item_name == sitem %}
<option value="{{ item.id}}" selected> {{item.item_name}}</option>
{% else %}
<option value="{{ item.id }}"> {{item.item_name}}</option>
{% endif %}
{% endfor %} 

<div class="dropdowndiv" >
            
    <input onclick="myFunction()" type="text" readonly value2send="" name="selectedItem" id="showinput" class="searchonclick"
    
     placeholder="Search Item ..."><i class="downaero"> &#9660;</i>
    
     <div id="myDropdown" class="dropdown-content">
      <input type="text" list="items" oninput="onInput()" id="input" class="searchtext" />
      
      <datalist id="items">
            {% for item in items %}
            {% if item.id == sid%}
            <option selected data-value="{{item.id}}" value="{{item.item_name}}"></option>  
            {% endif %}          
      <option data-value="{{item.id}}" value="{{item.item_name}}"></option>
        {% endfor %}              
      </datalist>
    </div>
   </div>
  -->
 
    {% for item in items %}
    {% if item.id == sid%}
            <option selected value="{{item.id}}">{{item.item_name}}</option>  
            {% else %} 

    <option value={{item.id}}> {{item.item_name}}</option>
    {% endif %} 
    {% endfor %}
     
