{% extends 'base.html' %}

{% block title %} itemwiseorders {% endblock title %}

{% load static %}

{% block bodyheader %} Orders {% endblock bodyheader %}
{% block content %}
<!--<h6 class=" form-control badge alert-dark text-center sticky-top sticky-offset">Show Orders </h6> -->

  <div class="row">
    <form method="POST">
        {% csrf_token %}
        <select id="select_item" class="select2" name='item_id' Required=true>
          <option value="" disabled selected hidden>Choose Item...</option>
          <option value="sdwo">Show Date Wise Item Orders</option>
          {% for items in item %}
          <option value="{{ items.id }} "> {{ items.item_name }}</option>
          {% endfor %}
        </select>
        
    
    </form>
</div>

<div class="row g-0 mt-1" id="showcon">
    <div class="table-responsive" id="from_itemwise_data">        
 
    </div>
    
</div>

<script>

  $(document).ready(function() {
    $("#select2").select2({      
      placeholder: "Select an item ...",               
    });
  });
  
  </script>

{% endblock content %}