

<table class="table table-sm table-dark" id="ordertableid">
    <thead class="table-danger">
        <tr class="text-center">
            <th scope="col">Date </th>
            <th scope="col">Item</th>
            <th scope="col">Order</th>
            <th scope="col">Sent</th>
            <th scope="col">Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for orders in order %}

         <tr>
            <td colspan="5" class="table-active">
                <div class="row g-0">
                    <div class="col-12">
                        {% for it in consignees %}
                        {% if it.id == orders.consignees_id %}
                        {% for party in partys %}
                        {% if party.id == it.party_id %}
                     <h class="badge  alert-primary" > {{ party.party }} /
                        {% endif %}
                        {% endfor%}
                        {% endif %}
                        {% endfor %}
                   
                        {% for it in consignees %}
                        {% if it.id == orders.consignees_id %}
                        {{ it.consignee }} </h>
                        {% endif %}
                        {% endfor %}
                        <h class="badge alert-dark">Price {{orders.item_price}}</h>
                    </div>

                </div>
            </td>
           
        </tr>
     <tr class="text-center">
        <td>
            {{ orders.orderdate}}
        </td>
        <td>
            {% for it in item %}
            {% if it.id == orders.item_id %}
            {{ it.item_name }} {% if orders.item_des != "" %} ( {{ orders.item_des }} ) {% endif %}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {{ orders.qty }} / {{orders.unit}}
        </td>
        <td>
            {{ orders.sent_cancel }} / {{orders.unit}}
        </td>
         <td id="unit" style="display:none;">
            {{orders.unit}}
        </td>
         <td id="obal" style="display:none;">
            {{orders.balance}}
        </td>
        <td>
            {{orders.balance}} / {{orders.unit}}
        </td>
        </tr>
       
        {% endfor %}        
    </tbody>
    {% if filter == 'item_wise' %}
    <tbody class="table-light">
        <tr>           
            
           <td colspan="5" id="total" class="text-end bg-light text-dark">                
            
        </td>
        </tr>
        
    </tbody>
    <script>
$(function() {
    var n1 = document.getElementById("ordertableid").rows.length;
        let Pcs=0,Carton=0,Box=0,Bag=0,Dozen=0,Gms=0,Kgs=0,Meter=0,Roll=0,Liter=0;
        
         for(i=2;i<n1;i+=2)
         {
            var ounit= document.getElementById("ordertableid").rows[i].cells.item(4).innerHTML;
            var bal=document.getElementById("ordertableid").rows[i].cells.item(5).innerHTML;
           
        if(ounit.trim() == "Pcs."){Pcs += parseFloat(bal);}
        if(ounit.trim() == "Carton"){Carton += parseFloat(bal);}
        if(ounit.trim() == "Box"){Box += parseFloat(bal);}
        if(ounit.trim() == "Bag"){Bag += parseFloat(bal);}
        if(ounit.trim() == "Dozen"){Dozen += parseFloat(bal);}
        if(ounit.trim() == "Gms."){Gms += parseFloat(bal);}
        if(ounit.trim() == "Kgs."){Kgs += parseFloat(bal);}
        if(ounit.trim() == "Meter"){Meter += parseFloat(bal);}
        if(ounit.trim() == "Roll"){Roll += parseFloat(bal);}
        if(ounit.trim() == "Liter"){Liter += parseFloat(bal);}
        
        
         }
        var  balance = "";       
        if(Carton !=0 ){balance = balance + " , " + Carton + " / Carton"};
        if(Pcs !=0 ){balance =balance + " , " + Pcs + " / Pcs."};
        if(Box !=0 ){balance =balance + " , " + Box + " / Box"};
        if(Bag !=0 ){balance =balance + " , " + Bag + " / Bag"};
        if(Dozen !=0 ){balance =balance + " , " + Dozen + " / Dozen"};
        if(Gms !=0 ){balance =balance + " , " + Gms + " / Gms."};
        if(Kgs !=0 ){balance =balance + " , " + Kgs + " / Kgs."};
        if(Meter !=0 ){balance =balance + " , " + Meter + " / Meter"};
        if(Roll !=0 ){balance =balance + " , " + Roll + " / Roll"};
        if(Liter !=0 ){balance =balance + " , " + Liter + " / Liter"};
       

        balance = balance.substring(2);
                
        document.getElementById('total').innerHTML = "<span style=\"color:#000000\">Balance : </span>" + "<span style=\"color:#e60000;font-weight:bold;margin-right:2%\">"+balance+"</span>";
 });
</script>
    {% endif %}
</table>


