                        {% for details in sent_details %}
                            <tr class="text-center">


                                <td>
                                    {{details.date }}
                                </td>
                                <td>
                                    {{ details.cartons }}
                                </td>
                                
                                <td>
                                    {{ details.status }}
                                </td>
                                <td>
                                    {{ details.by }}
                                </td>
                               <td>
                                    <form action="#" method="POST" class="d-inline" >                                     
                                        <input class="btn btn-outline-success rounded-pill btn-sm" type="submit" value="Edit">
                                    </form>
                                     <form action="#" method="POST" class="d-inline" >                                     
                                        <input class="btn btn-outline-danger rounded-pill btn-sm" type="submit" value="Delete">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}