{% for details in sent_details %}
<tr class="text-center">


    <td>
        {{details.date }}
    </td>
    <td>
        {{ details.qty }}
    </td>

    <td>
        {{ details.status }}
        {% if details.status == 'Transfer' %}
        {% for con in consignees %}
        {% if details.consignee_id == con.id %} ->> {{con.consignee}} {% endif %}
        {% endfor %}
        {% endif %}
    </td>
    <td>
        {{ details.by }}
    </td>

<tr>
    <td colspan="2"> </td>
    <td colspan="2">
        <div class="row g-1">
            <div class="col-6 g-1">
                <form action="{% url 'addsent' 'edit' %}" method="GET" class="d-inline">
                    <input type="hidden" name="sid" value={{ details.id }}>
                    <input class="form-control btn-outline-success rounded-pill btn-sm" type="submit" value="Edit">
                </form>
            </div>
            <div class="col-6 g-1">
                <form method="POST" class="d-inline">
                     {% csrf_token %}                    
                    <input class="form-control btn-outline-danger rounded-pill btn-sm" data-bs-dismiss="modal" seid={{details.id}} type="button" value="Delete" id='sedelete'>
                </form>
            </div>
        </div>
    </td>
</tr>
</tr>
{% endfor %}