
  .dropbtn {
  
   background-color: rgb(227, 230, 231);
   border:1px black solid;
   
   font-size: 18px;

   width: 100%;
  
   border-radius: 4px;
  
   cursor: pointer;
   
 }
 
 .dropbtn:hover, .dropbtn:focus {
   background-color: rgb(227, 230, 231);
  
 }
 
 .dropdowndiv {
   display: block;   
   position:relative;
   align-content: center;
   
   z-index: 100;
 }
 
 .dropdown-content {
   display: none;         
   text-align: center;
   border-radius: 6px;
 }
 
 .searchonclick{
  width: 100%;
  font-weight:bold;
  border-radius: 6px;
  padding: 6px; 
  text-align: center; 
  display: inline;
  background-color: rgb(241, 241, 241);
 }
 
 .searchtext{
  font-size: 18px;
  margin-left: -50%; 
  width:100%;
  border-radius: 6px;
  padding: 4px;
  text-align: center;
  position:absolute;
 }
  .downaero{
    top: 6px; 
    position: absolute; 
    margin-left: -30px;
  }
 
.show {display: block;}

.select2-selection,
.select2-selection__rendered, 
.select2-selection__arrow {
    height: 38px !important;
    line-height: 38px !important;
    
}



